<h2 class="header">{{title}}</h2>
<div class="input-container">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" placeholder="Ex: Pasta Bolognese" value="{{name}}">
</div>

<div class="input-container">
  <label for="img">Image:</label>
  <input type="file" id="img" name="image">
  <input type="text" name="existingImage" hidden id="img" value="{{image}}">
</div>

<div class="time-container">
  <label for="time">Cooking time</label>
  <input type="number" id="time" name="time" placeholder="--" value="{{time}}">
  <label>minutes</label>
</div>

<div id="info-min-products">
  <label class="form-error">Minimum two products to create a recipe</label>
</div>

<div class="list-container">
  <div>
    <label style="">Ingredients</label><span>Quantity</span>
  </div>
  <ul id="ingredients-list">
    {{#if recipe}}
      {{#each recipe.products}}
        <li>
          <span>{{product.name}}</span>     <span>{{quantity}}</span> g  <button class="delete-product__button"></button><span style="display:none">{{product.id}}</span>
        </li>
      {{/each}}
    {{/if}}
  </ul>
</div>

<div class="add-product-container">
  <div class="input-container">
    <select id="products" name="products">
      {{#each products}}
        <option value="{{_id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="quant-grams">
    <input type="number" id="quantity" name="quantity" placeholder="-" min=0>
    <label>gr</label>
  </div>
</div>

<button class="add-product__button" id="new-ingredient">+</button>
<div class="input-container">
  <label for="steps">Steps:</label>
  <textarea id="steps" name="steps" rows="10" cols="30" value="{{steps}}">
    Describe the steps here
  </textarea>
</div>

<div id="list-to-send">
  {{!-- Will be filled dynamically with JS --}}
</div>

<button class="button-in-form create" type="submit" id="create-recipe-button" disabled>{{sendButton}}</button><br>

{{#if errorMessage}}
  <div>
      <label class="form-error">{{errorMessage}}</label>
  </div>   
{{/if}}