<h2 class="header">{{title}}</h2>
<div class="input-container">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" placeholder="Ex: Pasta Bolognese" value="{{name}}">
</div>

<div class="input-container">
  <label for="img">Image:</label>
  <input type="file" id="img" name="image">
  <input type="text" name="existingImage" hidden id="img" value="{{image}}">
</div>

<div class="time-container">
  <label for="time">Cooking time</label>
  <input type="number" id="time" name="time" placeholder="--" value="{{time}}">
  <label>minutes</label>
</div>

<div class="list-container">
  <div>
    <label style="">Ingredients</label><span>Quantity</span>
  </div>
  <ul id="ingredients-list">
    {{#each recipe.products}}
    <li>
      <span>{{product.name}}</span> <span>{{quantity}}</span> g <button class="delete-product__button"></button><span
        style="display:none">{{product.id}}</span>
    </li>
    {{/each}}
  </ul>
</div>

<div class="add-product-container">
  <div class="input-container">
    <select id="products" name="products">
      {{#each products}}
      <option value="{{_id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="quant-grams">
    <input type="number" id="quantity" name="quantity" placeholder="-" min=0>
    <label>gr</label>
  </div>
</div>
<button class="add-product__button" id="new-ingredient">+</button>

<div class="input-container">
  <div class="list-container">
    <div>
      <label>Steps</label>
    </div>
    <ol id="steps-list">
      {{#each recipe.steps}}
      <li>
        <span>{{this}}</span><button class="delete-step__button"></button>
      </li>
      {{/each}}
    </ol>
    {{!-- OJO textarea tags must be in the same LINE, or the placeholder won't appear ! --}}
    {{!-- <textarea id="new-step" name="new-step" rows="10" cols="30" ></textarea> --}}
    <textarea id="new-step" name="new-step" cols="30" rows="10"
      placeholder="Ex: 'Peel and cut the avocado length-wise into 8 pieces.'"></textarea>
  </div>
</div>
<button class="add-product__button" id="new-step-button">+</button>

<div id="list-to-send">
  {{!-- Will be filled dynamically with JS --}}
</div>

<div id="info-min-products">
  <label class="form-error">A minimum of two products and two steps is required.</label>
</div>

<button class="button-in-form create" type="submit" id="create-recipe-button" disabled>{{sendButton}}</button><br>

{{#if errorMessage}}
<div>
  <label class="form-error">{{errorMessage}}</label>
</div>
{{/if}}