<div class="wrapper">
  <div class="details-container">
    <div class="details-info" id="recipe-info">
      <img class="img-big" id="img-big-product" src="{{recipe.image}}" alt="Recipe picture"> 
      <div class="details-description">
        <div class="head">
          <label class="header" style="border: none">{{recipe.name}}</label>
          {{#if user}}
            {{#ifNotContains user.favorites recipe._id}}
              <form action="/recipes/addFavorite" method="POST">
                <button name="addFavorite" value="{{recipe._id}}" 
                  style="background:url('https://image.flaticon.com/icons/svg/1077/1077035.svg');">
                </button>
              </form>
            {{else}}
              <form action="/recipes/deleteFavorite" method="POST">
                <button name="deleteFavorite" value="{{recipe._id}}"
                  style="background:url('https://image.flaticon.com/icons/svg/833/833472.svg');">
                </button>
              </form>
            {{/ifNotContains}}
          {{/if}}
        </div> 
        <div class="nutrition">
          <div>
            <label>Author: <em>{{recipe.author}}</em></label>
              |
            <div class="details-ratings">
              <div class="stars-container" style="width:80px">
                <div class="stars-outer">
                  {{!-- OJO the number of stars is calculated according to a width --}}
                  {{!-- Here the width of the container is 80px. So to have 2.5/5 stars we need 40px for example --}}
                  <div class="stars-inner"></div>
                </div>
              </div>
              {{#if recipe.ratings}}
              <span id="rating-percent" style="display:none">{{getAverageInPercent recipe.ratings}}</span>
                <span>  {{getAverage recipe.ratings}} / 5 ({{numberOfVotes recipe.ratings}})</span>
              {{else}}
                <span>This recipe doesn't have any rating yet. {{#if user}} Be the first one to evaluate it !{{/if}}</span>
              {{/if}}
              {{#if user}}
                {{#ifNoRatings recipe.ratings user.username}}
                  <div>
                    <form action="/recipes/leaveRating" method="POST">
                      {{!-- OJO textarea tags must be in the same LINE, or the placeholder won't appear ! --}}
                      
                      <input type="radio" id="1" name="rating" value=1>
                      <label for="1">1</label><br>
                      <input type="radio" id="2" name="rating" value=2>
                      <label for="2">2</label><br>
                      <input type="radio" id="3" name="rating" value=3>
                      <label for="3">3</label><br>
                      <input type="radio" id="4" name="rating" value=4>
                      <label for="4">4</label><br>
                      <input type="radio" id="5" name="rating" value=5>
                      <label for="5">5</label><br>

                      <input type="hidden" name="recipe" value="{{recipe._id}}">
                      <input type="hidden" name="user" value="{{user.username}}">
                      <button type="submit" class="button">Send</button>
                    </form>
                  </div>
                {{/ifNoRatings}}
              {{/if}}
            </div>
            {{#unless user}}
              <div>
                <span>Do you want to evaluate this recipe ? Click <a href="/login">here</a> to login first!</span>
              </div>
            {{/unless}}
          </div>
          <ul>
            <li>
              <label>Time: <span>{{recipe.time}}</span> min</label>
            </li>
            <li style="font-weight: bolder;"> 
              Nutrition facts (for 100g):
            </li>
            <li>
              <label>kcal: <span>{{#if recipe.info.calories}}{{recipe.info.calories}}{{else}}0{{/if}}</span></label>
            </li>
            <li>
              <label>fat: <span>{{#if recipe.info.fat}}{{recipe.info.fat}}{{else}}0{{/if}} g</span></label>
            </li>
            <li>
              <label>carbs: <span>{{#if recipe.info.carbs}}{{recipe.info.carbs}}{{else}}0{{/if}} g</span></label>
            </li>
            <li>
              <label>proteins: <span>{{#if recipe.info.proteins}}{{recipe.info.proteins}}{{else}}0{{/if}} g</span></label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="details-ingredients">
      <label>Ingredients:</label>
      <ul>
      {{#each recipe.products}}
        <li>
          <a href="/products/details/{{this.product.name}}">{{this.product.name}}</a>    {{this.quantity}} g
        </li>
      {{/each}}
      </ul>
      <div class="details-instructions">
        <label>Instructions:
          <ol>
            {{#each recipe.steps}}
              <li><span>{{this}}</span></li><br>
            {{/each}}
          </ol>
        </label>
      </div>
      <div class="details-reviews">
        <label>Reviews: 
          {{#each recipe.reviews}}
            <h5>by <em>{{author}}</em></h5>
            <p style="font-weight:lighter">{{review}}</p>
          {{else}}
            <span>This recipe doesn't have any review yet. {{#if user}} Be the first one to share your experience !{{/if}}</span> 
          {{/each}}
        </label>
      </div>
      {{#if user}}
        {{#ifNoReview recipe.reviews user.username}}
          <div>
            <form action="/recipes/leaveReview" method="POST">
              {{!-- OJO textarea tags must be in the same LINE, or the placeholder won't appear ! --}}
              <textarea name="review" id="" cols="30" rows="3" placeholder="Share your opinion about this recipe !"></textarea>
              <input type="hidden" name="recipe" value="{{recipe._id}}">
              <input type="hidden" name="user" value="{{user.username}}">
              <button type="submit" class="button">Send</button>
            </form>
          </div>
        {{/ifNoReview}}
      {{/if}}
      {{#unless user}}
        <div>
          <span>Do you want to leave a review ? Click <a href="/login">here</a> to login first!</span>
        </div>
      {{/unless}}
    </div>
  </div>
    <div class="recipe-control-buttons">
      {{#ifHasAuth user.username recipe.author sessionUser.isSuperuser}}
          <a class="edit__button" href="/recipes/edit/{{recipe._id}}">EDIT</a>
          <a id="delete-recipe-button" class="delete__button" href="/recipes/delete/{{recipe._id}}">DELETE</a>
      {{/ifHasAuth}}
  </div>
</div>
