<div class="cards-wrapper">
  <div class="details-info" id="recipe-info">
    <div class="details-img">
      <img class="img-big" id="img-big-product" src="{{recipe.image}}" width="400px" height="auto" alt="Recipe picture"> 
    </div>
    <div class="details-description">
      <h2>{{recipe.name}}</h2>
      <h3>Shared by: <em>{{recipe.author}}</em></h3>
      <h3>Rate: {{recipe.rate}}</h3>
      <h3>Preparation time: {{recipe.time}}</h3>
      <h3>Calories (for 100g): <span>{{recipe.info.calories}}</span></h3>
      <h3>Fat (for 100g): <span>{{recipe.info.fat}} g</span></h3>
      <h3>Carbs (for 100g): <span>{{recipe.info.carbs}} g</span></h3>
      <h3>Proteins (for 100g): <span>{{recipe.info.proteins}} g</span></h3>
    </div>
  </div>
  <div id="recipe-steps">
    <h3>Ingredients:</h3>
    {{#each recipe.products}}
      <h4>{{this.product.name}}    {{this.quantity}} g</h4>
    {{/each}}
    <h3>Recipe: {{recipe.steps}}</h3>
    <h3>Reviews: {{recipe.reviews}}</h3>
  </div>
    <div class="recipe-control-buttons">
      {{#ifHasAuth user.username recipe.author user.isSuperuser}}
          <a class="button edit" href="/recipes/edit/{{recipe._id}}">EDIT</a>
          <a class="button delete" href="/recipes/delete/{{recipe._id}}">DELETE</a>
      {{/ifHasAuth}}
  </div>

</div>
