<div class="wrapper">
  <div class="details-info" id="product-info">
    <div class="details-img">
      <img class="img-big" id="img-big-product" src="{{product.image}}" width="400px" height="auto" alt="Product picture"> 
    </div>
    <div class="details-description">
      <h2>{{product.name}}</h2>
      <h3>Description: {{product.description}}</h3>
      <h3>Season: {{product.seasons}}</h3>
      <h3>Calories: {{product.info.calories}}</h3>
      <h3>Fat: {{product.info.fat}}</h3>
      <h3>Carbs: {{product.info.carbs}}</h3>
      <h3>Proteins: {{product.info.proteins}}</h3>
    </div>
  </div>
  {{!-- <div id="details-recipes">
  </div> --}}
</div>
