<form class="create-form" action="/products/edit/{{product.name}}" method="POST" enctype="multipart/form-data">
  <h2 class="header">Edit a product</h2>

  <div class="input-container">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Ex: Strawberry" value="{{product.name}}">
  </div>

  <div class="input-container">
    <label for="descr">Description:</label>
    <input type="text" id="descr" name="description" placeholder="Something about this product"
      value="{{product.description}}">
  </div>

  <div class="input-container">
    <label for="category">Category</label>
    <select id="category" name="category">
      <option value="{{product.category}}" selected>{{product.category}}</option>
      <option value="Vegetable">Vegetable</option>
      <option value="Fruit">Fruit</option>
      <option value="Fish">Fish</option>
      <option value="Meat">Meat</option>
      <option value="Seafood">Seafood</option>
      <option value="Other">Other</option>
      <option value="Dairy product">Dairy product</option>
      <option value="Liquid">Liquid</option>
      <option value="Spices and condiments">Spices and condiments</option>
    </select>
  </div>

  <div class="input-container">
    <label for="img">Image:</label>
    <input type="file" id="img" name="image">
    <input type="text" name="existingImage" hidden id="img" value="{{product.image}}">
  </div>

  <div class="input-container">
    <label>Info:</label>
    <label for="calories">Calories:</label>
    <input type="number" step="0.01" id="calories" name="calories" placeholder="for 100g"
      value="{{product.info.calories}}">
    <label for="fat">Fat:</label>
    <input type="number" step="0.01" id="fat" name="fat" placeholder="for 100g" value="{{product.info.fat}}">
    <label for="carbs">Carbs:</label>
    <input type="number" step="0.01" id="carbs" name="carbs" placeholder="for 100g" value="{{product.info.carbs}}">
    <label for="proteins">Proteins:</label>
    <input type="number" step="0.01" id="proteins" name="proteins" placeholder="for 100g"
      value="{{product.info.proteins}}">
  </div>

  <div class="input-container">
    <label for="seasons">Season(s):</label>
    <select id="seasons" name="seasons" multiple>
      <option value="Spring">Spring</option>
      <option value="Summer">Summer</option>
      <option value="Autumn">Autumn</option>
      <option value="Winter">Winter</option>
    </select>
  </div>
  <input type="text" name="existingSeasons" hidden id="seasons" value="{{product.seasons}}">

  <input type="text" name="id" hidden id="productId" value="{{product._id}}">
  <button class="button-in-form create" type="submit">Save changes</button>
  {{#if errorMessage}}
  <div>
    <p>{{errorMessage}}</p>
  </div>
  {{/if}}
</form>